aniso8601
autopep8
bcrypt
bleach
blinker
click
colorama
dnspython
email-validator
Flask
Flask-Cors
Flask-Login
flask-mailman
Flask-Principal
Flask-RESTful
Flask-Security-Too
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
mkdocs-material-extensions
passlib
Pillow
pycodestyle
pypng
pytz
qrcode
six
SQLAlchemy
SQLAlchemy-Utils
tomli
typing_extensions
webencodings
Werkzeug
WTForms
